<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="dota">
  <%= form_for(:session, url: sessions_path) do |f| %>


    <%= f.text_field :email, :placeholder=>"Enter email" %>


    <%= f.password_field :password, :placeholder=>"Enter password" %>
    <div class="submit-button" >
      <%= f.submit "Sign in", class: "btn btn-large btn-primary " %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  <% end %>
</div>


