
<%if current_user.admin?%>

  <tr>
    <td><%= link_to app.app_name, app %></td>
    <%if !app.status%>
      <td >
        <%= link_to app, method: :changeStatus,
                                   data: { confirm: "Are you sure to approve the request" } do%>
         <span class="glyphicon glyphicon-ban-circle"></span>
        <%end%>
      </td>
    <%else%>
      <td>
       <%= link_to app, method: :changeStatus,
                                   data: { confirm: "Are you sure to set the app not approved" } do%>
          <span class="glyphicon glyphicon-ok"></span>
       <%end%>
      </td>
    <%end%>
      <td>
       <%= link_to "delete", app, method: :delete,
                                    data: { confirm: "You sure?" } %>
      </td>
  </tr>

<%else%>
  <tr>
    <td><%= link_to app.app_name, app %></td>
    <td>
      <%if app.status%>
        <span class="glyphicon glyphicon-ok"></span>
      <%else%>
        <span class="glyphicon glyphicon-ban-circle"></span>
      <%end%>
    </td> 
  </tr> 
<%end%>