<% provide(:title, @app.app_name) %>
<div class="">
	<ul>
		<li><h4>app name</h4><%= @app.app_name %></li>
		<li><h4>package name</h4><%= @app.package_name %></li>
		<li><h4>fingerprint</h4><%= @app.fingerprint %></li>
		<li><h4>app description</h4><%= @app.app_description %></li>
		<li><h4>website</h4><%= @app.website %></li>
		<li><h4>team_name</h4><%= @app.team_name %></li>
		<li><h4>approved</h4><%= @app.status %></li>
	</ul>
</div>